<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

    <title>Upgrade Recommender System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="shortcut icon" href="#">
<body>
<div style="overflow-x: auto" class="">
    <h4 style="text-shadow: 2px 2px 3px #4d5d4b; text-align: center;padding: 20px;">System Upgrade Recommender</h4>
    <div style="position:absolute; left: 20%;top: 20%">
        <label class="form-label" for="source_brand">Brand name</label><br>
        <input type="text" id="source_brand" class="form-control">
        <div id="result_brand"></div>
    </div>
    <div style="position:absolute; left: 40%;top: 20%">
        <label class="form-label" for="source_name">Model name</label><br>
        <input type="text" id="source_name" class="form-control" style="width: 500px" required>
        <div id="result_name"></div>
        <button type="button" id="ajax_data_load" style="position: absolute; top: 50%;left: 120%"
                class="btn btn-primary fixed-button-size">Search
        </button>

    </div>
    <table id="main-table" class="table sortable"
           style="position: absolute; text-align: center; width: 95%; margin-left: 2.5%; margin-right: 2.5%; top: 40%; ">
        <thead>
        <tr>
            <th scope="col">#</th>

            <th scope="col">modelName</th>

            <th scope="col">maximumMemory</th>

            <th scope="col">slots</th>

            <th scope="col">standardMemory</th>

            <th scope="col">storageType</th>

            <th scope="col">categoryName</th>

            <th scope="col">brandName</th>

            <th scope="col">suggestInfo</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>


<script>
    const source_brand = document.querySelector('#source_brand');
    const source_name = document.querySelector('#source_name');

    var resultNameValue = ""
    var resultBrandValue = ""

    source_brand.addEventListener("keyup", (e) => {
        resultBrandValue = e.target.value
        // console.log("======", resultBrandValue)
        $.ajax({
            url: "/brand_name",
            type: 'POST',
            cache: false,
            data: {'data': resultBrandValue},
            success: function (html) {
                var data = html.result
                console.log('data', data)
                $("#source_brand").autocomplete({
                    source: data
                });
            }
        });

    });

    source_name.addEventListener("keyup", (e) => {
        resultNameValue = e.target.value
        console.log("======", resultNameValue)

        $.ajax({
            url: "/model_name",
            type: 'POST',
            cache: false,
            data: {'data': resultNameValue, "brand": resultBrandValue},
            success: function (html) {
                var data = html.result
                console.log('data', data)
                $("#source_name").autocomplete({
                    source: data
                });
            }
        });

    });

    $(document.getElementById('ajax_data_load')).ready(function () {
        $('#ajax_data_load').click(function () {
            clicked = $(this);
            $.ajax({
                url: '/table',
                type: 'POST',
                dataType: 'json',
                data: {'data': resultNameValue, "brand": resultBrandValue},
                success: function (data1) {
                    var data = data1.data;
                    var keys = data1.keys
                    console.log('Success Hit');
                    console.log(data1);
                    $('#main-table').html('');

                    var column_data = '';
                    console.log('data.key', Object.values(keys))
                    console.log('data.val', Object.values(data))
                    if (Object.values(keys).length > 0) {
                        column_data += '<tr><th>#</th>';
                        column_data += '<th>modelName</th>'
                        column_data += '<th>maximumMemory</th>'
                        column_data += '<th>slots</th>'
                        column_data += '<th>standardMemory</th>'
                        column_data += '<th>storageType</th>'
                        column_data += '<th>categoryName</th>'
                        column_data += '<th>brandName</th>'
                        column_data += '<th> suggestInfo </th>'
                    }
                    column_data += '</tr>';
                    $('#main-table').append(column_data),
                        $('th').css({'background-color': '#FFA500', 'color': 'white'});
                    var nameCounter = 1
                    var row_data = '';
                    for (var arr in data) {
                        row_data += '<tr><td>' + nameCounter + '</td>';
                            row_data += '<td><a href="' + data[arr]["modelUrl"] + '" target="_blank" id="modelName' + nameCounter + '">' + data[arr]['modelName'] + '</a></td>'
                            row_data += '<td>' + data[arr]['maximumMemory'] + '</td>'
                            row_data += '<td>' + data[arr]['slots'] + '</td>'
                            row_data += '<td>' + data[arr]['standardMemory'] + '</td>'
                            row_data += '<td>' + data[arr]['storageType'] + '</td>'
                            row_data += '<td>' + data[arr]['categoryName'] + '</td>'
                            row_data += '<td>' + data[arr]['brandName'] + '</td>'
                            console.log('brand',data[arr]['brandName'])
                            row_data += '<td><a onclick="newpage(this.id)" type="button" id="' + data[arr]["modelId"] + '" class="btn btn-info">view suggestion</a></td>';
                            row_data += '</tr>'
                        }
                        ;
                    $('#main-table').append(row_data);
                },
                error: function (data) {
                    console.log('Error Hit');
                    console.log(data);
                }
            });

        });
    });

    function newpage(elemId) {
        $.ajax({
            url: '/products/' + elemId,
            type: 'POST',
            data: {'data': elemId},
            success: function () {
                console.log('success == ', elemId)
                open('/products/' + elemId)

            }
        })
    }

</script>
</body>
</html>
