<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

    <title>Upgrade Recommender System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<body>
    <div style="overflow-x: auto" class="">
            <h4 style="text-shadow: 2px 2px 3px #4d5d4b; text-align: center;padding: 20px;">System Upgrade Recommender</h4>
        <div style="position:absolute; left: 20%;top: 20%">
            <label class="form-label" for="source_brand">Brand name</label><br>
            <input type="text" id="source_brand" class="form-control">
            <div id="result_brand"></div>
        </div>
        <div style="position:absolute; left: 40%;top: 20%">
            <label class="form-label" for="source_name">Model name</label><br>
            <input type="text" id="source_name" class="form-control" style="width: 500px">
            <div id="result_name"></div>
            <button type="button" id="ajax_data_load" style="position: absolute; top: 50%;left: 120%"
                    class="btn btn-primary fixed-button-size">Search
            </button>

        </div>
        <table id="jds-example" class="table" style="position: absolute; text-align: center; width: 95%; margin-left: 2.5%; margin-right: 2.5%; top: 40%; ">
            <thead>
            <tr>

                <th scope="col"> ModelName</th>

                <th scope="col"> MaximumMemory</th>

                <th scope="col"> Slots</th>

                <th scope="col"> StandardMemory</th>

                <th scope="col"> StrgType</th>

                <th scope="col"> CategoryName</th>

                <th scope="col"> BrandName</th>

                <th>more info</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>


<script>
    const source_brand = document.querySelector('#source_brand');
    const source_name = document.querySelector('#source_name');

    var resultNameValue = ""
    var resultBrandValue = ""

    source_brand.addEventListener("keyup", (e) => {
        resultBrandValue = e.target.value
        // console.log("======", resultBrandValue)
        $.ajax({
            url: "/pipe",
            type: 'POST',
            cache: false,
            data: {'data': resultBrandValue},
            success: function (html) {
                var data = html.result
                console.log('data', data)
                $("#source_brand").autocomplete({
                    source: data
                });
            }
        });

    });

    source_name.addEventListener("keyup", (e) => {
        resultNameValue = e.target.value
        console.log("======", resultNameValue)

        $.ajax({
            url: "/pipes",
            type: 'POST',
            cache: false,
            data: {'data': resultNameValue, "brand": resultBrandValue},
            success: function (html) {
                console.log(html)
                var data = html.result
                var _ = []

                $.each(data, (index, value) => {
                    _.push(value.key)
                });
                console.log(_)
                $("#source_name").autocomplete({
                    source: _
                });
            }
        });
    });

    $(document.getElementById('ajax_data_load')).ready(function () {
        $('#ajax_data_load').click(function () {
            clicked = $(this);
            $.ajax({
                url: '/table',
                type: 'POST',
                dataType: 'json',
                data: {'data': resultNameValue, "brand": resultBrandValue},
                success: function (data) {
                    console.log('Success Hit');
                    console.log(data);
                    $('#jds-example').html('');

                    var column_data = '';
                    column_data += '<tr><th>#</th>';
                    for (var key in data[0]) {
                        console.log('key', key)
                        if (key.includes('ModelUrl') || key.includes('ModelId')) {
                            console.log('key', key);
                            continue;
                        } else {
                            column_data += '<th>' + key + '</th>'
                        }
                    }
                    ;

                    column_data += '</tr>';
                    $('#jds-example').append(column_data),
                        $('th').css({'background-color': '#FFA500', 'color': 'white'});
                    var nameCounter = 1
                    var row_data = '';
                    for (var arr in data) {
                        var obj = data[arr];
                        row_data += '<tr><td>' + nameCounter + '</td>';
                        for (var key in obj) {
                            if (key.includes('ModelName')) {
                                var value = obj[key]
                                row_data += '<td><a href="' + obj["ModelUrl"] + '" target="_blank" id="modelName' + nameCounter + '">' + value + '</a></td>';
                                nameCounter += 1
                            } else if (key.includes('ModelUrl') || key.includes('ModelId')) {
                                continue;
                            } else if (key.includes('MoreInfo')) {
                                row_data += '<td><a onclick="newpage(this.id)" type="button" id="' + obj["ModelId"] + '" class="btn btn-info">view suggestion</a></td>';
                            } else {
                                var value = obj[key];
                                row_data += '<td>' + value + '</td>';
                            }
                        }
                        ;
                        row_data += '</tr>'
                    }
                    ;


                    $('#jds-example').append(row_data);

                },
                error: function (data) {
                    console.log('Error Hit');
                    console.log(data);
                }
            });

        });
    });

    function newpage(elemId) {
        $.ajax({
            url: '/products/' + elemId,
            type: 'POST',
            data: {'data': elemId},
            success: function () {
                console.log('success == ', elemId)
                open('/products/' + elemId)

            }
        })
    }

</script>
</body>
</html>
